In [1]:
import pandas as pd
import requests

from bs4 import BeautifulSoup

<h1>Santos FC Team</h1>

In [2]:
santos_fc_url = 'https://en.wikipedia.org/wiki/List_of_Santos_FC_seasons'
table_class = 'wikitable'

<h2>Checking Response status</h2>

In [3]:
response=requests.get(santos_fc_url)
print(response.status_code)

200

<h2>Parsing Santos FC Data</h2>

In [4]:
soup = BeautifulSoup(response.text, 'html.parser')
santos_fc_table = soup.findAll('table',{'class':"wikitable"})

In [5]:
df=pd.read_html(str(santos_fc_table))
# convert list to dataframe
# since there are many tables using
# the same class, the table we want is
# at position 2
df=pd.DataFrame(df[2])
df.head()

   Season Domestic leagues[7][8][9][24]                                    \
   Season                    Tournament   FP  Pld.     W    D    L     GS
0    1959                      Paulista  2nd  41.0  30.0  5.0  6.0  155.0
1    1959                   Taça Brasil  2nd   5.0   2.0  1.0  2.0    9.0
2    1960                      Paulista  1st  34.0  22.0  6.0  6.0  100.0
3  1961 †                      Paulista  1st  30.0  25.0  3.0  2.0  113.0
4  1961 †                   Taça Brasil  1st   5.0   3.0  1.0  1.0   18.0

              Cup[25] South America[15][26][27][28]  \
     GA  Pts. Cup[25] South America[15][26][27][28]
0  58.0  65.0     NaN                           NaN
1   7.0   5.0     NaN                           NaN
2  44.0  48.0     NaN                             —
3  33.0  53.0     NaN                             —
4   6.0   7.0     NaN                             —

                                  Other competitions[21][29][30][31][32][33]  \
  South America[15][26][27][28].1 Other competitions[21][29][30][31][32][33]
0                             NaN                    Torneio Rio – São Paulo
1                             NaN                    Torneio Rio – São Paulo
2                               —                    Torneio Rio – São Paulo
3                               —                    Torneio Rio – São Paulo
4                               —                    Torneio Rio – São Paulo

                                               Season top scorer[22]
  Other competitions[21][29][30][31][32][33].1                  Name  Goals
0                                          1st             Pelé[a 9]  100.0
1                                          1st             Pelé[a 9]  100.0
2                                          8th            Pelé[a 10]   61.0
3                                          5th      Pelé[a 11][a 12]  110.0
4                                          5th      Pelé[a 11][a 12]  110.0

In [6]:
df['Domestic leagues[7][8][9][24]']

      Tournament    FP  Pld.     W     D     L     GS    GA  Pts.
0       Paulista   2nd  41.0  30.0   5.0   6.0  155.0  58.0  65.0
1    Taça Brasil   2nd   5.0   2.0   1.0   2.0    9.0   7.0   5.0
2       Paulista   1st  34.0  22.0   6.0   6.0  100.0  44.0  48.0
3       Paulista   1st  30.0  25.0   3.0   2.0  113.0  33.0  53.0
4    Taça Brasil   1st   5.0   3.0   1.0   1.0   18.0   6.0   7.0
..           ...   ...   ...   ...   ...   ...    ...   ...   ...
119  Brasileirão   8th  38.0  14.0  12.0  12.0   52.0  51.0  54.0
120     Paulista  13th  12.0   3.0   4.0   5.0   12.0  19.0  13.0
121  Brasileirão  10th  38.0  12.0  14.0  12.0   35.0  40.0  50.0
122     Paulista  13th  12.0   3.0   5.0   4.0   16.0  19.0  14.0
123  Brasileirão   TBD   NaN   NaN   NaN   NaN    NaN   NaN   NaN

[124 rows x 9 columns]

In [7]:
df['Season']

     Season
0      1959
1      1959
2      1960
3    1961 †
4    1961 †
..      ...
119    2020
120    2021
121    2021
122    2022
123    2022

[124 rows x 1 columns]

<h2>Concat the years with the championships data<h2>

In [8]:
santos_fc_df = df[['Season', 'Domestic leagues[7][8][9][24]']]
santos_fc_df.columns = santos_fc_df.columns.droplevel()
santos_fc_df

     Season   Tournament    FP  Pld.     W     D     L     GS    GA  Pts.
0      1959     Paulista   2nd  41.0  30.0   5.0   6.0  155.0  58.0  65.0
1      1959  Taça Brasil   2nd   5.0   2.0   1.0   2.0    9.0   7.0   5.0
2      1960     Paulista   1st  34.0  22.0   6.0   6.0  100.0  44.0  48.0
3    1961 †     Paulista   1st  30.0  25.0   3.0   2.0  113.0  33.0  53.0
4    1961 †  Taça Brasil   1st   5.0   3.0   1.0   1.0   18.0   6.0   7.0
..      ...          ...   ...   ...   ...   ...   ...    ...   ...   ...
119    2020  Brasileirão   8th  38.0  14.0  12.0  12.0   52.0  51.0  54.0
120    2021     Paulista  13th  12.0   3.0   4.0   5.0   12.0  19.0  13.0
121    2021  Brasileirão  10th  38.0  12.0  14.0  12.0   35.0  40.0  50.0
122    2022     Paulista  13th  12.0   3.0   5.0   4.0   16.0  19.0  14.0
123    2022  Brasileirão   TBD   NaN   NaN   NaN   NaN    NaN   NaN   NaN

[124 rows x 10 columns]

<h2>Filtering Data for further use</h2>

In [9]:
santos_fc_df['Season'] = santos_fc_df['Season'].apply(lambda year: year.strip()[:4])
santos_fc_df = santos_fc_df.astype({"Season": 'int32'}, errors='raise')
santos_fc_df = santos_fc_df[(santos_fc_df['Season'] >= 1980) & (santos_fc_df['Season'] < 2022)]
santos_fc_df = santos_fc_df[santos_fc_df['Tournament'] == 'Brasileirão']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
santos_fc_df.head()

    Season   Tournament   FP  Pld.     W     D    L    GS    GA  Pts.
41    1980  Brasileirão  7th  18.0  11.0   3.0  4.0  29.0  12.0  25.0
43    1981  Brasileirão  9th  17.0   8.0   6.0  3.0  27.0  12.0  22.0
45    1982  Brasileirão  7th  18.0   9.0   5.0  4.0  27.0  16.0  23.0
47    1983  Brasileirão  2nd  26.0  13.0  10.0  3.0  45.0  28.0  36.0
49    1984  Brasileirão  9th  20.0  11.0   6.0  3.0  39.0  16.0  28.0

In [11]:
santos_fc_df.tail()

     Season   Tournament    FP  Pld.     W     D     L    GS    GA  Pts.
113    2017  Brasileirão   3rd  38.0  17.0  12.0   9.0  42.0  32.0  63.0
115    2018  Brasileirão  10th  38.0  13.0  11.0  14.0  46.0  40.0  50.0
117    2019  Brasileirão   2nd  38.0  22.0   8.0   8.0  60.0  33.0  74.0
119    2020  Brasileirão   8th  38.0  14.0  12.0  12.0  52.0  51.0  54.0
121    2021  Brasileirão  10th  38.0  12.0  14.0  12.0  35.0  40.0  50.0

In [24]:
santos_fc_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41 entries, 41 to 121
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Season      41 non-null     int32
 1   Tournament  41 non-null     object
 2   FP          41 non-null     object
 3   Pld.        41 non-null     float64
 4   W           41 non-null     float64
 5   D           41 non-null     float64
 6   L           41 non-null     float64
 7   GS          41 non-null     float64
 8   GA          41 non-null     float64
 9   Pts.        41 non-null     float64
dtypes: float64(7), int32(1), object(2)
memory usage: 3.4+ KB

In [12]:
santos_fc_df.to_csv('santos_fc_list_of_seasons_df.csv', index=False)

<h1>Sport Club Corinthians Paulista Team</h1>

In [13]:
corinthians_fc_url = 'https://en.wikipedia.org/wiki/List_of_Sport_Club_Corinthians_Paulista_seasons'
table_class = 'wikitable'

<h2>Checking Response status</h2>

In [14]:
response=requests.get(corinthians_fc_url)
print(response.status_code)

200

<h2>Parsing Corinthians FC Data</h2>

In [15]:
soup = BeautifulSoup(response.text, 'html.parser')
corinthians_fc_table = soup.findAll('table',{'class':"wikitable"})

In [16]:
df=pd.read_html(str(corinthians_fc_table))
df=pd.DataFrame(df[1])
df.head()

  Season   League                                  Copa doBrasil  \
  Season Division  Pos. Pl.   W   D  L  GF  GA Pts Copa doBrasil
0   1971  Série A   4th  25  12   7  6  33  21  31             —
1   1972  Série A   4th  29  12  12  5  31  26  36             —
2   1973  Série A  12th  37  13  15  9  37  30  41             —
3   1974  Série A  15th  24   8  10  6  29  21  26             —
4   1975  Série A   6th  27  13   9  5  29  17  38             —

  South America                   Other competitions                       \
  South America South America.1   Other competitions Other competitions.1
0             —               —  Campeonato Paulista                  3rd
1             —               —  Campeonato Paulista                  4th
2             —               —  Campeonato Paulista                  4th
3             —               —  Campeonato Paulista                    F
4             —               —  Campeonato Paulista                  5th

  Season Top scorer
            Name(s) Goals
0               NaN   NaN
1               NaN   NaN
2               NaN   NaN
3               NaN   NaN
4               NaN   NaN

In [17]:
df['Season']

    Season
0     1971
1     1972
2     1973
3     1974
4     1975
..     ...
57    2017
58    2018
59    2019
60    2020
61    2021

[62 rows x 1 columns]

In [18]:
df['League']

   Division  Pos. Pl.   W   D   L  GF  GA Pts
0   Série A   4th  25  12   7   6  33  21  31
1   Série A   4th  29  12  12   5  31  26  36
2   Série A  12th  37  13  15   9  37  30  41
3   Série A  15th  24   8  10   6  29  21  26
4   Série A   6th  27  13   9   5  29  17  38
..      ...   ...  ..  ..  ..  ..  ..  ..  ..
57  Série A   1st  38  21   9   8  50  30  72
58  Série A  13th  38  11  11  16  34  35  44
59  Série A   8th  38  14  14  10  42  34  56
60  Série A  12th  38  13  12  13  45  35  51
61  Série A   5th  38  15  12  11  40  36  57

[62 rows x 9 columns]

<h2>Concat the years with the championships data<h2>

In [19]:
corinthians_fc_df = df[['Season', 'League']]
corinthians_fc_df.columns = corinthians_fc_df.columns.droplevel()
corinthians_fc_df

    Season Division  Pos. Pl.   W   D   L  GF  GA Pts
0     1971  Série A   4th  25  12   7   6  33  21  31
1     1972  Série A   4th  29  12  12   5  31  26  36
2     1973  Série A  12th  37  13  15   9  37  30  41
3     1974  Série A  15th  24   8  10   6  29  21  26
4     1975  Série A   6th  27  13   9   5  29  17  38
..     ...      ...   ...  ..  ..  ..  ..  ..  ..  ..
57    2017  Série A   1st  38  21   9   8  50  30  72
58    2018  Série A  13th  38  11  11  16  34  35  44
59    2019  Série A   8th  38  14  14  10  42  34  56
60    2020  Série A  12th  38  13  12  13  45  35  51
61    2021  Série A   5th  38  15  12  11  40  36  57

[62 rows x 10 columns]

<h2>Filtering Data for further use</h2>

In [20]:
#corinthians_fc_df['Season'] = corinthians_fc_df['Season'].apply(lambda year: year.strip()[:4])
corinthians_fc_df = corinthians_fc_df.astype({"Season": 'int32'}, errors='raise')
corinthians_fc_df = corinthians_fc_df[(corinthians_fc_df['Season'] >= 1980) & (corinthians_fc_df['Season'] < 2022)]

In [21]:
corinthians_fc_df.head()

    Season Division  Pos. Pl.   W   D  L  GF  GA Pts
9     1980  Série A   5th  18  12   3  3  43  19  27
10    1981  Série A  26th  15   4   3  8  14  26  11
11    1982  Série A   4th  12   6   2  4  19  15  14
12    1983  Série A  10th  20  10   6  4  42  23  26
13    1984  Série A   4th  24   9  10  5  31  19  28

In [22]:
corinthians_fc_df.tail()

    Season Division  Pos. Pl.   W   D   L  GF  GA Pts
57    2017  Série A   1st  38  21   9   8  50  30  72
58    2018  Série A  13th  38  11  11  16  34  35  44
59    2019  Série A   8th  38  14  14  10  42  34  56
60    2020  Série A  12th  38  13  12  13  45  35  51
61    2021  Série A   5th  38  15  12  11  40  36  57

In [25]:
corinthians_fc_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53 entries, 9 to 61
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Season    53 non-null     int32
 1   Division  53 non-null     object
 2   Pos.      53 non-null     object
 3   Pl.       53 non-null     object
 4   W         53 non-null     object
 5   D         53 non-null     object
 6   L         53 non-null     object
 7   GF        53 non-null     object
 8   GA        53 non-null     object
 9   Pts       53 non-null     object
dtypes: int32(1), object(9)
memory usage: 4.3+ KB

In [23]:
corinthians_fc_df.to_csv('corinthians_fc_list_of_seasons_df.csv', index=False)